In [21]:
import pandas as pd

df = pd.read_excel('cervejas.xlsx')

numeric_data = df._get_numeric_data()

maxima = numeric_data.max()
minima = numeric_data.min()

data_range = maxima - minima
data_range[data_range == 0] = 1.0

numeric_data = (numeric_data - minima) / data_range

df[numeric_data.columns] = numeric_data

df

,Nome,Tipo,País,Teor Alcoólico,Volume Garrafa,Preço,Lixo
0,Baden Baden American IPA,IPA,Brasil,0.031405,0.642857,0.059727,0.0
1,Baden Baden Chocolate,Specialty,Brasil,0.024793,0.642857,0.063097,0.0
2,Brewmeister Armaggedon,Strong Golden Ale,Escócia,1.000000,0.000000,0.981277,0.0
3,Crystal,Pilsner,Brasil,0.000000,0.059524,0.000000,0.0
4,Delirium Tremens,Strong Golden Ale,Bélgica,0.066116,0.000000,0.100056,0.0
5,Eisenbahn Pilsen,Pilsner,Brasil,0.004959,0.059524,0.007302,0.0
6,Evil Twin Falco,IPA,Dinamarca,0.041322,0.059524,0.100917,0.0
7,Golden Queen Bee,Strong Golden Ale,Bélgica,0.071074,1.000000,1.000000,0.0
8,Kasteel Tripel,Trippel,Bélgica,0.107438,0.000000,0.112151,0.0
9,Licher Weizen,German Weizen,Alemanha,0.014876,0.404762,0.070960,0.0
10,Lohn Bier Trippel,Trippel,Brasil,0.097521,0.000000,0.063471,0.0
11,Skol,Pilsner,Brasil,0.001653,0.107143,0.000150,0.0

In [22]:
numeric_data = df._get_numeric_data()
numeric_data = numeric_data * data_range + minima

df[numeric_data.columns] = numeric_data

df

,Nome,Tipo,País,Teor Alcoólico,Volume Garrafa,Preço,Lixo
0,Baden Baden American IPA,IPA,Brasil,6.4,600.0,18.90,23.0
1,Baden Baden Chocolate,Specialty,Brasil,6.0,600.0,19.80,23.0
2,Brewmeister Armaggedon,Strong Golden Ale,Escócia,65.0,330.0,265.00,23.0
3,Crystal,Pilsner,Brasil,4.5,355.0,2.95,23.0
4,Delirium Tremens,Strong Golden Ale,Bélgica,8.5,330.0,29.67,23.0
5,Eisenbahn Pilsen,Pilsner,Brasil,4.8,355.0,4.90,23.0
6,Evil Twin Falco,IPA,Dinamarca,7.0,355.0,29.90,23.0
7,Golden Queen Bee,Strong Golden Ale,Bélgica,8.8,750.0,270.00,23.0
8,Kasteel Tripel,Trippel,Bélgica,11.0,330.0,32.90,23.0
9,Licher Weizen,German Weizen,Alemanha,5.4,500.0,21.90,23.0
10,Lohn Bier Trippel,Trippel,Brasil,10.4,330.0,19.90,23.0
11,Skol,Pilsner,Brasil,4.6,375.0,2.99,23.0

In [31]:
import numpy as np
import scipy.stats as sts
limQ1 = 25
limQ3 = 75
c=1.5


q1 = np.percentile(numeric_data, limQ1, axis=0)
q3 = np.percentile(numeric_data, limQ3, axis=0)
iqr = sts.iqr(numeric_data, axis=0)

for i in range(len(numeric_data)):
    d = numeric_data.loc[numeric_data.index[i]]
    test_inf = d < q1 - c * iqr
    if test_inf.any():
        print('Remove')
    else:
        test_sup = d > q3 + c * iqr
        if test_sup.any():
            print('Remove')
        else:
            print('Let it be')

Let it be
Let it be
Remove
Let it be
Let it be
Let it be
Let it be
Remove
Let it be
Let it be
Let it be
Let it be